.userLocCard {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  font-weight: 400;
  font-size: 0.85rem;
  color: white;
  text-decoration-line: underline;
}

.userLocButton {
  background-color: #04AA6D;
  color: white;
  margin: 0.5rem;
  /* margin-inline: 0.25rem; */
  padding:0.9rem;
  /* margin-top: 0.2rem; */
  font-size: 1.5rem;
  border-radius: 6px;
}

.userLocButton:hover {
  background-color: #038050;
}

.userLocButton:active {
  background-color: rgb(172, 238, 175);
}