.userLocCard {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  font-weight: 400;
  font-size: 0.85rem;
  color: white;
  text-decoration-line: underline;
}

.userLocButton {
  background-color: #04AA6D;
  color: white;
  margin: 0.5rem;
  /* margin-inline: 0.25rem; */
  padding:0.9rem;
  /* margin-top: 0.2rem; */
  font-size: 1.5rem;
  border-radius: 6px;
}

.userLocButton:hover {
  background-color: #038050;
}

.userLocButton:active {
  background-color: rgb(172, 238, 175);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdowncontent {
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: white;
  width:max-content;
  margin:0.1rem;
  border-radius: 6px;
}

/* Links inside the dropdown */
.locationli {
  color: dimgray;
  text-decoration: none;
  display: flex;
  width:100%;
  flex-direction: row;
  border-radius: 6px;
  padding:0.75rem;
  cursor: pointer;
}

.locationli:hover {
  color:  darkblue;
  background-color: aliceblue;
}